/* =========================
   FOOTER
========================= */
.footer {
  background-color: #781D1D;
  color: #fff;
  padding: 60px 12px;
  font-family: 'DM Sans', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

/* =========================
   COLONNA SINISTRA
========================= */
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: #dcd6ca;
  transform: translateX(-3rem); /* allineamento homepage */
}

.footer-name {
    font-weight: 600;
  color: #fff;
  margin: 0;
  line-height: 1.2;
  padding: 0;
}

.footer-left .footer-bottom {
  font-size: 0.8rem;
  text-align: left;
  margin: 0;
  padding: 0;
}

/* =========================
   COLONNA CENTRALE
========================= */
.footer-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.footer-center h5 {
  margin-top: 0;
  font-size: 0.9rem;
  color: #fff;
  text-align: left;
  padding-top: 12px;
  
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.footer-links li {
  margin: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* =========================
   COLONNA DESTRA
========================= */
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  transform: translateX(3rem); /* allineamento homepage */
}

.contact-email {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-email:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 1rem;
}

.footer-social-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.footer-social-icon:hover {
  transform: translateY(-6px);
}

.footer-social-icon img {
  display: block;
  height: 38px;
}

/* =========================
   MEDIA QUERY MOBILE
========================= */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
    margin:-0.5rem;
  }

  .footer-left,
  .footer-center {
    align-items: flex-start;
    text-align: left;
    transform: none; /* reset mobile */
    margin: 32px;
  }

  .footer-right {
    align-items: flex-end;
    text-align: right;
    transform: none; /* reset mobile */
    margin: 32px;
  }

  .footer-links {
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
  }

  .footer-social {
    justify-content: flex-end;
    width: 100%;
  }
}
