/* Container navbar fissa */
.menu-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background: #fff;
  

  /* Container interno per logo e link */
  .container {
    padding: 8px 16px;
    margin: 0;
    display: flex;
    justify-content: flex-start; // logo a sinistra, menu a destra
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    max-width: none;
  }
}

/* Navbar principale */
.navbar {
  padding: 0; // il padding lo gestiamo direttamente sulla container
}

/* Logo */
.navbar-brand img {
  height: 50px;
  width: auto;
  display: block;
}

/* Link menu */
.nav-link {
  font-family:"Hanken Grotesk:Regular", sans-serif ;
  color: #222;
  transition: color 0.3s ease;

  &:hover {
    color: #3626a7;
  }
}

/* Navbar-nav */
.navbar-nav {
  margin-left: 2rem;  
  display: flex;
  gap: 1.5rem; // spaziatura tra link
  
}

/* Toggler */
.navbar-toggler {
  margin-left: auto; // spinge l’hamburger a destra
  color: #3626a7;
}
/* Desktop: nasconde il toggler */
@media (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }  
}

/* Mobile: bordo solo sotto i 992px */
@media (max-width: 991.98px) {
  .navbar-nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #3626a7;
  }
}