/* Container navbar fissa */
.menu-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.796);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

  /* Container interno per logo e link */
  .container {
    padding: 8px 16px;
    margin: 0;
    display: flex;
    justify-content: flex-start; // logo a sinistra, menu a destra
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    max-width: none;
  }
}

/* Navbar principale */
.navbar {
  padding: 0; // il padding lo gestiamo direttamente sulla container
}

/* Logo */
.navbar-brand img {
  height: 50px;
  width: auto;
  display: block;
}

/* Link menu */
.nav-link {
  color: #222;
  transition: color 0.3s ease;

  &:hover {
    color: #781D1D;
  }
}

/* Navbar-nav */
.navbar-nav {
  margin-left: 2rem;  
  display: flex;
  gap: 1.5rem; // spaziatura tra link
  
}

/* Toggler */
.navbar-toggler {
  margin-left: auto; // spinge l’hamburger a destra
  color: #781D1D;
}

/* Mobile */
@media (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}
