.project-page {
  max-width: 2550px;
  margin: 0 auto;
  padding: 2rem;

  h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    text-align: start;
    margin-bottom: 3rem;
    color: #781D1D;
  }

  // TITOLO CENTRALE
  .project-title {
    font-family: 'Qurova DEMO', sans-serif;
    font-size: 4rem;
    color: #781D1D;
    padding-top: 90px;
    text-align: center;
    margin-bottom: 3rem;
  }
 .project-section-title {
  margin-bottom: 0;

 }
  // TESTI PARALLELI
  .project-text-blocks {
    display: flex;
    justify-content: space-between;
    gap: 220px;
    margin-bottom: 0;

    .text-left,
    .text-right {
      flex: 1;
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      line-height: 1.6;
      color: #222;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .text-left p,
    .text-right p {
      max-width: 420px;
      margin: 0;
    }
  }

  // RESPONSIVE TESTI
  @media (max-width: 768px) {
    .project-text-blocks {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

.project-images-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 3rem;
  

  .project-image {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
      display: block;
      background: white; // separa l'immagine dal background

      // OMBRA DELICATA
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12); // leggero aumento al passaggio del mouse
      }
    }
  }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  // CTA
  .project-cta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .project-cta-primary {
      background-color: #781D1D;
      color: #fff;
      font-weight: 700;
      padding: 0.75rem 2rem;
      border-radius: 8px;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #4B7F52;
      }
    }

    .project-cta-secondary {
      background-color: #fff;
      color: #781D1D;
      border: 2px solid #781D1D;
      font-weight: 700;
      padding: 0.75rem 2rem;
      border-radius: 8px;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #781D1D;
        color: #fff;
      }
    }
  }

}
